[submodule "cliente"]
    path = cliente
    url = git@github.com:sga-encoder/404_Luck_Not_Found_Cliente.git
[submodule "servidor"]
    path = servidor
    url = git@github.com:sga-encoder/404_Luck_Not_Found_Servidor.git
